/* Import Police */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html, body {
    font-family: 'Lato', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}
.banner {
    padding: 5px;
}
.banner_close {
    position: absolute;
    right: 10px;
}
.bg_red {
    background: #FF445F;
} 
.txt_white {
    color: white;
}
.txt_center {
    text-align: center;
}
.hr_line_top{
    border: 1px solid grey;
    position: relative;
}
.hr_line_bottom{
    border: 1px solid grey;
    position: relative;
}
.cart_frame {
    padding: 14px;
    border: 2px black solid;
}
.menu ul {
    list-style-type: none;
    overflow: hidden;
    padding-left: 10%;
    padding-right: 10%;
}
.menu ul li {
    float: left;
    display: inline;
}
.menu ul li a {
    color: #443D3B;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.homemade-sticky {
    position: fixed;
    top: 0;
    width: 100%
}
.homemade-sticky + .content {
    padding-top: 102px;
}
.grid_header {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-gap: 10px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
    padding-left: 10%;
    padding-right: 10%;
    min-height: 0;
    min-width: 0;
}
.grid > div {
    border: 2px solid rgb(233,171,88);
    border-radius: 5px;
    background-color: rgba(233,171,88,.5);
    padding: 1em;
}
.grid_header_logo{
    grid-column: 1/2;
    grid-row: 1; 
    display: flex;
    align-items: center;
}
.grid_header_cart{
    grid-column: 10/13;
    grid-row: 1; 
    text-align: center;
}
.grid_preview_main {
    grid-column: 1/8;
    grid-row: 1/6;
    max-width: 100%
}
.grid_preview_second {
    grid-column: 1/8;
    grid-row: 6/8;
    max-width: 100%
}
.grid_description {
    grid-column: 8/13;
    grid-row: 1/4;
    max-width: 100%
}
.grid_selection {
    grid-column: 8/13;
    grid-row: 4/6;
    max-width: 100%
}
.grid_more {
    grid-column: 1/13;
    grid-row: 08/18;
    max-width: 100%
}